/*
 * gt911.dts
 */

/dts-v1/;
/plugin/;

/ {

        fragment@0 {
		target-path = "/";
		__overlay__ {
			i2c_gpio: i2c@0 {
				compatible = "i2c-gpio";
				gpios = <&gpio 10 0 /* sda */
					 &gpio 11 0>; /* scl */
				i2c-gpio,delay-us = <4>;        /* ~100 kHz */
				#address-cells = <1>;
				#size-cells = <0>;
			};
		};
	};

	fragment@1 {
		target = <&i2c_gpio>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;
			ft6236_14: ft6236@14 {
				compatible = "goodix,gt911";
				reg = <0x14>;
				interrupt-parent = <&gpio>;
				interrupts = <27 2>;
				touchscreen-size-x = <800>;
				touchscreen-size-y = <480>;
				touchscreen-x-mm = <95>;
				touchscreen-y-mm = <54>;
			};
			ft6236_5d: ft6236@5d {
				compatible = "goodix,gt911";
				reg = <0x5d>;
				interrupt-parent = <&gpio>;
				interrupts = <27 2>;
				touchscreen-size-x = <800>;
				touchscreen-size-y = <480>;
				touchscreen-x-mm = <95>;
				touchscreen-y-mm = <54>;
			};
		};
	};

	__overrides__ {
		touchscreen-inverted-x = <&ft6236_14>,"touchscreen-inverted-x?",
					 <&ft6236_5d>,"touchscreen-inverted-x?";
		touchscreen-inverted-y = <&ft6236_14>,"touchscreen-inverted-y?",
					 <&ft6236_5d>,"touchscreen-inverted-y?";
		touchscreen-swapped-x-y = <&ft6236_14>,"touchscreen-swapped-x-y?",
					  <&ft6236_5d>,"touchscreen-swapped-x-y?";
                rotate_90 = <&ft6236_14>,"touchscreen-swapped-x-y?",
                            <&ft6236_5d>,"touchscreen-swapped-x-y?",
                            <&ft6236_14>,"touchscreen-inverted-x?",
                            <&ft6236_5d>,"touchscreen-inverted-x?";
                rotate_180 = <&ft6236_14>,"touchscreen-inverted-x?",
                             <&ft6236_5d>,"touchscreen-inverted-x?",
                             <&ft6236_14>,"touchscreen-inverted-y?",
                             <&ft6236_5d>,"touchscreen-inverted-y?";
                rotate_270 = <&ft6236_14>,"touchscreen-swapped-x-y?",
                             <&ft6236_5d>,"touchscreen-swapped-x-y?",
                             <&ft6236_14>,"touchscreen-inverted-y?",
                             <&ft6236_5d>,"touchscreen-inverted-y?";
	};
};
